.container{

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    margin-bottom: 20px;
}
.navbar h2{
    margin: 0;
    color: darkblue;
    font-weight: bold;
}
.navbar .links svg{
    margin-right: 3px;
    color: gray;
    cursor: pointer;
}

.wrapper{
    display: flex;
}

@media screen and (max-width: 700px) {
    .wrapper{
        flex-direction: column-reverse;
    }
}