.wrapper{
    width: 1300px;
    margin: 0 auto;
    margin-top: 150px;
}
.wrapper h1{
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.wrapper > p{
    color: gray;
    max-width: 40%;
    font-weight: 100;
}
.info{
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.single{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.single svg{
    font-size: 60px;
    margin-right: 20px;
    color: #D12023;
}
.flex h2{
    margin-bottom: 10px;
}
.flex span{
    font-size: 15px;
    color: gray;
}
.form{
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}
.form > h2{
    margin: 0;
    margin-bottom: 20px;
}
.form input{
    border: 1px solid rgb(231, 225, 225);
    padding: 15px;
    color: rgb(94, 15, 15) !important;
    font-weight: 100;
    width: 100%;
    background-color: #FBFBFB;
    outline: none;
}
.form textarea{
    border: 1px solid rgb(231, 225, 225);
    padding: 15px;
    color: rgb(94, 15, 15) !important;
    font-weight: 100;
    width: 100%;
    background-color: #FBFBFB;
    outline: none;
    margin-top: 15px;
}
.formFlex{
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}
.formFlex input:first-child{
    margin-right: 20px;
}
.form button{
    width: 100%;
    background-color: #D12023;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border: none;
    margin-top: 20px;
    font-weight: 600;
}
.error{
    color: red;
    font-size: 14px;
}

@media (min-width: 700px) and (max-width: 1300px){
    .wrapper{
        width: 95%;
    }
    .single{
        margin-right: 50px;
    }
}
@media (min-width: 550px) and (max-width: 700px){
    .wrapper{
        width: 95%;
    }
    .wrapper h1, .wrapper p{
        text-align: center;
        max-width: 100%;
    }
    .info{
        flex-wrap: wrap;
        justify-content: center;
    }
    .single{
        margin-right: 30px;
        margin-bottom: 10px;
    }
    .form{
        margin-top: 70px;
    }
}
@media (max-width: 550px){
    .wrapper{
        width: 95%;
    }
    .wrapper h1, .wrapper p{
        text-align: center;
        max-width: 100%;
    }
    .info{
        flex-direction: column;
    }
    .single{
        margin-right: 30px;
        margin-bottom: 10px;
    }
    .form{
        margin-top: 70px;
        width: 95%;
    }
}