.container{
    font-family: "Poppins", "Roboto";
}
.box{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0;
    background-color: white;
}


.box img{
    width: 230px;
    height: 180px;
}
.team h2{
    text-transform: uppercase;
    text-align: center;
}
.last{
    text-align: center;
    margin-top: 50px;
}
.punteggio{
    display: flex;
    align-items: center;
}
.punteggio h1{
    margin: 0;
    text-align: center;
    font-size: 50px;
}

.nextContainer{
    margin-top: 30px;
    background-color: #D12023;
    padding: 30px 30px;
    display: flex;
    width: 100%;
}
.matchContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.matchContainer .box{
    width: 100%;
    padding: 20px 10px;
}
.matchContainer .box img{
    width: 180px;
    height: 120px;
}
.matchContainer .vs{
    margin: 0 30px;
    margin-top: 30px;
}
.next{
    margin-top: 40px;
}
.next span{
    font-weight: 500;
}
.next h1{
    font-size: 35px;
    margin-top: 8px;
    max-width: 300px;
}

.vs{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}
.team2{
    text-transform: uppercase;
    text-align: center;
}
.team2 h2{
    margin-bottom: 0;
}


@media (min-width: 700px) and (max-width: 1300px) {
    .box{
        width: 95%;
    }
    .nextContainer{
        flex-direction: column;
    }
    .matchContainer{
        grid-template-columns: 1fr 1fr;
    }
    .matchContainer .box img{
        width: 150px;
        height: 120px;
    }
    .responsive{
        margin-bottom: 20px;
    }
    .next{
        text-align: center;
        color: white;
    }
    .next h1{
        max-width: unset;
    }
}



@media (max-width: 700px){
    .box{
        width: 95% !important;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .matchContainer .box{
        padding: 10px 0;
    }
    .team{
        text-align: center;
    }
    .nextContainer{
        flex-direction: column;
        padding: 0;
        align-items: unset;
    }
    .matchContainer{
        grid-template-columns: 1fr;
    }
    .next{
        text-align: center;
    }
    .next h1{
        max-width: 100%;
    }
    .team2{
        font-size: 14px;
        text-align: center;
        max-width: 100%;
    }
    .guest{
        width: 150px !important;
        height: 100px !important;
    }
    .virtusImg{
        
    }
    .vs h1{
        font-size: 28px;
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
    
}