.container{
    width: 100%;
    background-color: #000000;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 40px;
}
.wrapper{
    max-width: 1300px;
    margin: auto;
    color: white;
}
.up{
    display: flex;
}
.section{
    flex: 1;
    margin-right: 40px;
}
.section h2{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section span, .section a{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
}
.socials a:hover{
    color: inherit;
}
.section > a:hover{
    color: #D12023;
}
.section:nth-child(4) span{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.section:nth-child(4) span svg{
    margin-right: 10px;
    color: #D12023;
}

.socials{
    display: flex;
    align-items: center;
}
.socials a{
    margin-right: 10px;
    background-color: #D12023;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.wrapper hr{
    margin-top: 20px;
}
.down span{
    font-size: 13px;
    color: rgb(190, 189, 189);
    font-weight: 200;
}


@media screen and (max-width: 700px) {
    .wrapper{
        width: 100%;
        max-width: 100%;
        padding-left: 30px;
        padding-top: 30px;
    }
    .up{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper hr{
        margin-right: 30px;
    }
}