.container{
    width: 1300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.container > h1{
    color: #747474;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.wrapper{
    width: 100%;
    display: flex;
}
.card {
    flex: 1;
    margin-right: 30px;

}
.card img{
    width: 100%;
    height: 230px;
}
.title{
    font-weight: 600;
    color: rgb(51, 50, 50);
    margin-bottom: 10px;
}
.time{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
    font-weight: 300;
}
.time svg{
    margin-right: 10px;
    font-size:20px;
}
.desc{
    font-size: 14px;
    color: gray;
    font-weight: 100;
}
.more{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #D12023;
    font-size: 14px;
}
.more svg{
    margin-left: 10px;
    font-size: 18px;
}

@media (min-width: 700px) and (max-width: 1300px) {
    .container{
        width: 100%;
        text-align: center;
    }
    .wrapper{
        width: 95%;
        align-items: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .card{
        
    }
}

@media (max-width: 700px) {
    .container{
        width: 100%;
        text-align: center;
    }
    .wrapper{
        flex-direction: column;
        width: 95%;
        align-items: center;
        margin: 0 auto;
    }
    .card{
        margin: 0 auto;
        margin-bottom: 30px;
    }
}