.container{
    width: 1300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.container > h1{
    color: #747474;
    color: #1C2B4B;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.card {
    flex: 1;
    margin-right: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 231, 231);
}
.card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.title{
    font-weight: 600;
    color: rgb(51, 50, 50);
    margin-bottom: 10px;
}
.time{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
    font-weight: 300;
}
.time svg{
    margin-right: 10px;
    font-size:20px;
}
.desc{
    font-size: 14px;
    color: gray;
    font-weight: 100;
}
.more{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #D12023;
    font-size: 14px;
}
.more svg{
    margin-left: 10px;
    font-size: 18px;
}

@media screen and (min-width: 1300px) and (max-width: 1550px) {
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .card{
        margin: 0;
    }
}


@media (min-width: 700px) and (max-width: 1300px) {
    .container{
        width: 100%;
        text-align: center;
    }
    .wrapper{
        width: 95%;
        align-items: center;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }
    .card{
        
    }
}

@media (max-width: 700px) {
    .container{
        width: 100%;
        text-align: center;
    }
    .wrapper{
        grid-template-columns: 1fr;
        width: 95%;
        align-items: center;
        margin: 0 auto;
    }
    .card{
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100%;
    }
    .card img{
        height: 260px;
    }
}