.container{
    width: 100%;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}
.newsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.wrapper > h1{
    color: #1C2B4B;
}

.card {
    flex: 1;
    margin-right: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 231, 231);
}
.card img{
    width: 100%;
}
.title{
    font-weight: 600;
    color: rgb(51, 50, 50);
    margin-bottom: 10px;
}
.time{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
    font-weight: 300;
}
.time svg{
    margin-right: 10px;
    font-size:20px;
}
.desc{
    font-size: 14px;
    color: gray;
    font-weight: 100;
}
.more{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #D12023;
    font-size: 14px;
}
.more svg{
    margin-left: 10px;
    font-size: 18px;
}
.nonews{
   margin-top: 50px;
   font-size: 2rem;
   font-weight: 400;
text-align: center;
}
@media (min-width: 700px) and (max-width: 1300px) {
    .wrapper{
        width: 100%;
        text-align: center;
    }
    .newsContainer{
        width: 95%;
        align-items: center;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }
    .card{
        
    }
}

@media (max-width: 700px) {
    .wrapper{
        width: 100%;
        text-align: center;
    }
    .newsContainer{
        grid-template-columns: 1fr;
        width: 95%;
        align-items: center;
        margin: 0 auto;
    }
    .card{
        margin: 0 auto;
        margin-bottom: 30px;
    }
}