
.adminhome {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
  }
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  /*topbar*/
  .topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
  }
  
  .topRight {
    display: flex;
    align-items: center;
  }
  
  .topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
  }
  .topbarIconContainer i {
    font-size: 20px;
  }
  
  .topIconBadge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  
  .topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /*end of topbar*/
  .admin-container {
    display: flex;
    margin-top: 10px;
  }
  
  
  /*end of sidebar*/
  .adminhome {
    flex: 9;
  }
  .homeWidgets {
    display: flex;
    margin: 20px;
  }
  /*featured info*/
  .featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .featuredTitle {
    font-size: 20px;
  }
  
  .featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
  }
  
  .featuredMoney {
    font-size: 30px;
    font-weight: 600;
  }
  
  .featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
  }
  
  .featuredIcon.negative {
    color: red;
  }
  
  .featuredSub {
    font-size: 15px;
    color: gray;
  }
  /*end of featured info*/
  /*widgets*/
  .widgetSm {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
  }
  
  .widgetSmTitle {
    font-size: 22px;
    font-weight: 600;
  }
  
  .widgetSmImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .widgetSmList {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .widgetSmListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
  }
  
  .widgetSmUser {
    display: flex;
    flex-direction: column;
  }
  
  .widgetSmUsername {
    font-weight: 600;
  }
  
  .widgetSmUserTitle {
    font-weight: 300;
  }
  
  .widgetSmButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
  }
  
  .widgetSmIcon {
    font-size: 16px !important;
    margin-right: 5px;
  }
  .widgetLg {
    flex: 2;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
  }
  
  .widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
  }
  
  .widgetLgTable {
    width: 100%;
    border-spacing: 20px;
  }
  
  .widgetLgTh {
    text-align: left;
  }
  
  .widgetLgUser {
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  
  .widgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .widgetLgDate,
  .widgetLgAmount {
    font-weight: 300;
  }
  
  .widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
  }
  
  .widgetLgButton.Approved {
    background-color: #e5faf2;
    color: #3bb077;
  }
  .widgetLgButton.Declined {
    background-color: #fff0f1;
    color: #d95087;
  }
  .widgetLgButton.Pending {
    background-color: #ebf1fe;
    color: #2a7ade;
  }
  
  /*end of widgets*/
  .create {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-left: 2rem;
    width: 80px;
    border: none;
    padding: 7px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  /*form*/
  .newUser {
    flex: 4;
  }
  
  .newUserForm {
    display: flex;
    flex-wrap: wrap;
  }
  
  .newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .newUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .newUserItem > input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .newUserItem > textarea {
    padding: 8px;
  }
  
  .newUserGender > input {
    margin-top: 15px;
  }
  
  .newUserGender > label {
    margin: 10px;
    font-size: 18px;
    color: #555;
  }
  
  .newUserSelect {
    height: 40px;
    border-radius: 5px;
  }
  
  .newUserButton {
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    height: 50px;
    margin: auto 0;
  }
  

  @media (max-width: 700px){
    .featured{
      display: none;
    }
    .homeWidgets{
      flex-direction: column;
    }
    .widgetSm{
      margin-bottom: 20px;
    }
  }