.container{
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.wrapper img{
    width: 100%;
    height: 300px;
}

@media (min-width: 700px) and (max-width: 1300px) {
    .container{
        max-width: 90%;
    }
}
@media (min-width: 450px) and (max-width: 700px) {
    .container{
        max-width: 90%;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .wrapper img{
        height: 230px;
    }
}
@media (max-width: 450px) {
    .container{
        max-width: 90%;
    }
    .wrapper{
        grid-template-columns: 1fr;
    }
    .wrapper img{
        height: 300px;
    }
}