.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    margin-bottom: 20px;
}
.navbar h2{
    margin: 0;
    color: darkblue;
    font-weight: bold;
}
.navbar .links svg{
    margin-right: 3px;
    color: gray;
    cursor: pointer;
}
.wrapper{
    display: flex;
}

.dataContainer{
    flex: 9;
}

  
  /* {
    max-width: 1024px;
    margin: auto;
  }*/
  
  
  
  .dataContainer table {
    border-spacing: 0px;
    width: 90%;
    margin: auto;
    margin-top: 3em;
    border-color: gray;
    border-top: 1px solid black;
  }
  
  .table td,
  .table th {
    padding: 0.75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid #dee2e6;
  }
  
  .table td > a.btn {
    padding: 0.3em 1em;
    font-size: 1.1em;
    margin: 0 0.2em;
    background-color: #16db93;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center
  }
  
  .table  button.btn {
    padding: 0.3em 1em;
    font-size: 1.1em;
    margin: 0 0.2em;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .table tr:hover {
  }
  
  .table tr:hover td > a {
    box-shadow: none;
  }
  
  .table .thead-dark th {
    color: #fff;
    color: var(--dark);
    border-color: #32383e;
  }
  .create{
    background-color: teal;
    margin-left: 20px;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
  }
  
  


/* CREATE */
.dataContainer > h1{
  text-align: center;
  color: darkblue;
}
.form{
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 20px 0;
}
.formGroup{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 10px;
}
.formGroup label{
  color: gray;
  font-size: 15px;
  margin-bottom: 3px;
}
.formGroup input{
  padding: 10px;
  border: 1px solid gray;
  border-radius: 0.8rem;
  outline: none;
}

.form button{
  background-color: darkblue;
  color: white;
  border: none;
  padding: 8px 50px;
  font-size: 17px;
  border-radius: 1rem;
  margin-top: 10px;
  cursor: pointer;
}


@media only screen and (max-width: 1024px) {
  .table,
  .tablethead,
  .table tbody,
  .container th,
  .container td,
  .container tr {
    display: block;
  }

  .container thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .container tr {
    border: 1px solid #dbcfcf;
  }

  .container td {
    border: none;
    position: relative;
  }
}
@media (max-width: 700px){
  .dataContainer{
    flex: 3;
  }
  .password{
    display: none !important;
  }
  .form{
    width: 95%;
  }
  .wrapper{
    flex-direction: column-reverse;
  }
}


