

.container{
    flex: 2;
    background-color: #FBFBFF;
    height: 100vh;
    padding: 30px;
}
.title{
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgb(187, 187, 187);
    font-weight: 500;
}
.links{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-bottom: 20px;
}
.links a{
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: gray;
    font-family: sans-serif;
    color: #555;
    padding: 5px;
    border-radius: 1rem;
}
.links a svg{
    margin-right: 5px;
}
.active{
    background-color: rgb(240, 240, 255);
}