

.wrapper{
    width: 1300px;
    margin: 0 auto;
    margin-top: 140px;
}
.wrapper h1{
    margin-bottom: 40px;
}
.flex{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.wrapper p{
    color: #7A7A7A;
    font-weight: 300;
    font-size: 14px;
    max-width: 80%;

}
.body{
    margin-top: 50px;
}

.otherNews{
    font-weight: 300;
    max-width: 300px;
}
.otherNews h2, .otherNews h3{
    font-weight: 600;
}
.otherNews hr{
    border-top: 1px solid rgb(230, 230, 230);
}
.time{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 231, 231);
}
.time svg{
    margin-right: 10px;
    font-size:20px;
}


.coverImg{
    max-width: 80%;
    object-fit: cover;
}

.images{
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}
.images img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.body{
    max-width: 80%;
}

@media (min-width: 700px) and (max-width: 1300px){
    .wrapper{
        width: 95%;
    }
    .body{
        max-width: 80%;
    }
}
@media (min-width: 450px) and (max-width: 700px){
    .wrapper{
        width: 95%;
    }
    .otherNews{
        display: none;
    }
    .wrapper img{
        flex: 1;
        margin: auto;
    }
    .images{
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (max-width: 450px){
    .wrapper{
        width: 95%;
    }
    .otherNews{
        display: none;
    }
    .wrapper img{
        flex: 1;
        margin: auto;
    }
    .wrapper p{
        max-width: 100%;
    }
    .coverImg{
        max-width: 100%;
    }
    .images{
        max-width: 100%;
        grid-template-columns: 1fr;
    }
}