.container{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 100px;
}


.societa{
    margin-left: 50px;
    background-color: #eaeaeb;
    padding: 50px 20px;
    max-width: 50%;
    font-family: 'Open Sans', sans-serif;;
}

.societa h1{
    margin-top: 10px;
    font-weight: 500;
}
.societa > span{
    font-size: 14px;
    color: gray;
    font-weight: 300;
}

.societa h3{
    color: rgb(134, 13, 38);
}

.societa li{
    margin-bottom: 3px;
    color: rgb(63, 60, 60);
    color: black;
    list-style: circle;
}
.societa  b{
    color: #1C2B4B;
}
.societa p{
    color: rgb(63, 60, 60);
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

.imgContainer{
    flex: 1;
    margin: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.imgContainer img{
    max-width: 100%;
    border: 1px solid black;
}

.eccezione{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.575);
}
.squadra{
    color: brown;
}

@media (min-width: 1300px) and (max-width: 1700px) {
    .imgContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }   
    .imgContainer img{
        height: 300px;
    }
}

@media (min-width: 700px) and (max-width: 1300px) {
    
    .societa{
        width: 100%;
        max-width: unset;
        margin: 0 30px;
        
    }
    .container{
        flex-direction: column;
        
    }
    .imgContainer {
        margin: 50px 30px 0 30px;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 700px) {
    .container{
        flex-direction: column;
        gap: 20px;
    }
    .imgContainer{
        grid-template-columns: 1fr;
        margin: 50px 30px 0 30px;
    }
    .societa{
        max-width: 100%;
        margin: 0;
        /* background-color: white; */
    }
    .societa h1{
        max-width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
    .featuredImg{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .featuredImg img{
        width: 95%;
    }
}